#content_panel {
    margin-top: 200px;
    margin-left: 40vh;
}

#undername_line {
    height: 3px;
    width: available;
    background-color: #c3062a;
}

#authors_data {
    width: 500px;
    height: 600px;
}