.content_panel {
    margin-top: 50px;
    margin-left: 20vh;
}

#undername_line {
    height: 2px;
    width: available;
    background-color: #c3062a;
}

#authors_data {
    width: 500px;
    height: 600px;
}

.table_size {
    width: 900px !important;
    height: 500px !important;
}