/*general*/
body{
    background-image: url("../img/paper_fibers.png");
    /*background-image: url("../img/paper-fabric.ai");*/
    background-repeat: repeat;
    /*margin: 0;*/
    /*padding: 0;*/
}

html, body {
    overflow: auto;
}

/*position*/
.center_text{
    text-align: center;
}

.center_h{
    margin-left: auto;
    margin-right: auto;
}

.center_v{
    margin-top: auto;
    margin-bottom: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.margin {
    margin: 10px;
}

.padding{
    padding: 10px;
}

/*link*/
a, a:link, a:visited, a:active {
    color: #c3062a;
    text-decoration-color: #c3062a;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    -webkit-text-fill-color: #c3062a;
}

/*button*/
.btn {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #000000;
    font-size: 20px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: solid #c3062a 2px;
    text-decoration: none;
}

.btn:hover {
    color: white;
    background: #c3062a;
    text-decoration: none;
}

/*general style*/
.board_style{
    border: 2px solid #c3062a;
}

.dialog_size{
    width: 400px;
    height: 400px;
}

/*font*/

.big_font{
    font-size: 35px;
}

.validate_message{
    color: #c3062a;
}

.confirm_message{
    color: #0b8419;
}

/*style*/
.no_list_style{
    list-style-type: none;
}


.column_size{
    width: 200px;
    white-space:normal!important;
}